%h4= message.subject

%ul
  - @resource.mail_form_attributes.each do |attribute, value|
    - next if value.blank?
    %li
      = "#{@resource.class.human_attribute_name(attribute)}: "
      %span{ style: 'color: #E34D26' }= value

%p -- The fousa mailing bot
