.row.footer
    .col-12
        %p Jelle Vandebeeck <span>🇧🇪</span>
        %ul.social
            %li
                %a.linkedin{ href: 'https://www.linkedin.com/in/fousa/', title: 'Contact me on LinkedIn' }
            %li
                %a.github{ href: 'https://www.github.com/fousa/', title: 'Contact me on Github' }
            %li
                %a.instagram{ href: 'http://instagram.com/fousa', title: 'Contact me on Instagram' }
            %li
                %a.twitter{ href: 'https://twitter.com/fousa', title: 'Contact me on Twitter' }