.row.footer
    .col-12
        %p Jelle Vandebeeck <span>🇧🇪</span>
        %ul.social
            %li
                %a{ href: 'https://www.linkedin.com/in/fousa/', title: 'Contact me on LinkedIn' }
                    %span.fab.fa-linkedin
            %li
                %a{ href: 'https://www.github.com/fousa/', title: 'Contact me on Github' }
                    %span.fab.fa-github-square
            %li
                %a{ href: 'http://instagram.com/fousa', title: 'Contact me on Instagram' }
                    %span.fab.fa-instagram-square
            %li
                %a{ href: 'https://twitter.com/fousa', title: 'Contact me on Twitter' }
                    %span.fab.fa-twitter-square