%meta{ charset: 'utf-8' }
%meta{ http: { equiv: 'Content-Type'} , content: 'text/html; charset=utf-8' }

%meta{ name: 'viewport',    content: 'width=device-width, initial-scale=1' }
%meta{ name: 'theme-color', content: '#000000' }
%meta{ name: 'description', content: 'Jelle Vandebeeck - I craft awesome apps' }

-# Twitter #
%meta{ name: 'twitter:card',        content: 'Jelle Vandebeeck' }
%meta{ name: 'twitter:site',        content: '@fousa' }
%meta{ name: 'twitter:title',       content: 'Fousa' }
%meta{ name: 'twitter:description', content: 'I craft awesome apps' }
%meta{ name: 'twitter:creator',     content: '@fousa' }

-# Open Graph data #
%meta{ name: 'og:title',       content: 'Fousa' }
%meta{ name: 'og:type',        content: 'article' }
%meta{ name: 'og:description', content: 'I craft awesome apps' }
%meta{ name: 'og:url',         content: 'http://fousa.be' }

-# Google fonts #
%link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700' }
%link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700' }

-# Stylesheets #
%link{ rel: 'stylesheet', href: '/css/bootstrap.min.css' }
%link{ rel: 'stylesheet', href: '/css/fonts.css' }
%link{ rel: 'stylesheet', href: '/css/style.css' }
%link{ rel: 'stylesheet', href: '/css/main.css' }

-# Manifest #
%link{ rel: 'manifest', href: '/manifest.json' }

-# Favicon #
%link{ rel: 'shortcut icon', href: '/favicon.ico' }

%title Fousa