!!!
%html{ lang: 'en' }
    %head
        %title Fousa

        = render :haml, :'partials/head'
        
        %link{ rel: 'stylesheet', href: '/css/main.css' }

    %body
        .hero
            %img{ src: 'images/fousa.svg' }
            %h1
                fousa
                %span I craft awesome apps

        .main
            = yield

            .container-fluid= render :haml, :'partials/footer'