.banner
    %img{ src: 'images/fousa.svg' }
    %h1
        %span.title fousa
        %span.subtitle I craft awesome apps

.content
    %h3 Hi, I'm Jelle!
    .container
        .row.justify-content-center.profile
            .col-12.col-md-4.col-lg-4.text-center
                %img{ srcset: "images/me.jpg 1x, images/me.jpg 2x" }
            .col-12.col-md-8.col-lg-8
                %p= @developer_text
                %p= @gliding_text

    %h3 Some of my work
    .container-fluid
        .row.squares
            - @apps.each do |app|
                .col-12.col-md-4.col-lg-2.nospacing
                    %a{ href: app.url }
                        .square
                            .zoom
                                %img{ srcset: "images/apps/#{app.image}.jpg 1x, images/apps/#{app.image}.jpg 2x" }

        -# .row.more
        -#     .col-12
        -#         %p.text-end
        -#             %a{ href: '/work' } Most of my work &rarr;

        .row
            .col-12
                .contact
                    %p Jelle Vandebeeck <span>🇧🇪</span>
                    %ul.social
                        %li
                            %a.linkedin{ href: 'https://www.linkedin.com/in/fousa/', title: 'Contact me on LinkedIn' }
                        %li
                            %a.github{ href: 'https://www.github.com/fousa/', title: 'Contact me on Github' }
                        %li
                            %a.instagram{ href: 'http://instagram.com/fousa', title: 'Contact me on Instagram' }
                        %li
                            %a.twitter{ href: 'https://twitter.com/fousa', title: 'Contact me on Twitter' }