* {
    margin: 0;
    padding: 0;
}

html {
    font-size: medium;
}

.banner {
    width: 100%;
    height: 320px;

    position: absolute;
    top: 45%;

    margin-top: -160px;

    text-align: center;
}

.banner .logo {
    height: 400px;
    width: 400px;

    margin: 0 auto;
    margin-bottom: 4em;
}

h1 {
    font-size: 400%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    margin-top: 0.5em;
}

h1 .title {
    display: block;
}

h1 .subtitle {
    display: block;
    font-weight: 500;
    font-size: 40%;
}

h1 .small-subtitle {
    display: block;
    font-weight: 200;
    font-size: 50%;
    padding: 0 1em;

    width: 50%;
    text-align: center;

    margin: 0;
}

.content {
    width: 100%;

    position: absolute;
    top: 100%;
}

.nospacing {
    margin: 0 !important;
    padding: 0 !important;
}

.squares {
    margin: 0em;
}

.square {
    width: 100%;
    background-size: cover;
    background-position: center;
    max-height: 50%;
    margin: 0;
}

.square img {
    max-width:100%;
    transition: transform .2s ease-out;
}

.square .zoom {
    max-width:100%;
    overflow: hidden;
}

.square:hover .overlay {
    opacity: 1;
}

.square:hover img:not(img.disabled) {
    transform: scale(1.1);
}

.more {
    margin-top: 2em;
}

.more p {
    padding: 0em 1em;
    font-size: 200%;
    font-weight: 300;
    line-height: 1.5em;
    opacity: 0.8;
}

.more  span {
    font-weight: 500;
}

.more a {
    color: #E95E2F;
}

.more a:hover {
    text-decoration: none;
    border-bottom: 2px #E95E2F solid;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    font-weight: 400;

    display: block;
    padding: 3em 1em;
}

.boxed {
    width: 60%;
    text-align: justify;

    margin: 0 auto;
}

.boxed p {
    font-size: 200%;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.boxed li {
    font-size: 150%;
    font-weight: 300;
}

.boxed img {
    position: relative;
    top: -2em;
    width: 300px;
    height: 300px;
    margin-right: 4em;
    margin-bottom: 2em;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    float: left;
}

.contact {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}

.contact p {
    font-size: 200%;
}

.contact p span {
    position: relative;
    top: 0.1em;
}

.social a {
    color: #E34D26;
    height: 36px;
    width: 36px;
    display:block;
}

.social .instagram {
    background-image: -webkit-image-set(url('../images/Instagram.png') 1x, url('../images/Instagram@2x.png') 2x);
    background-image: image-set(url('../images/Instagram.png') 1x, url('../images/Instagram@2x.png') 2x);
}

.social .instagram:hover {
    background-image: -webkit-image-set(url('../images/Instagram-Hover.png') 1x, url('../images/Instagram-Hover@2x.png') 2x);
    background-image: image-set(url('../images/Instagram-Hover.png') 1x, url('../images/Instagram-Hover@2x.png') 2x);
}

.social .linkedin {
    background-image: -webkit-image-set(url('../images/LinkedIn.png') 1x, url('../images/LinkedIn@2x.png') 2x);
    background-image: image-set(url('../images/LinkedIn.png') 1x, url('../images/LinkedIn@2x.png') 2x);
}

.social .linkedin:hover {
    background-image: -webkit-image-set(url('../images/LinkedIn-Hover.png') 1x, url('../images/LinkedIn-Hover@2x.png') 2x);
    background-image: image-set(url('../images/LinkedIn-Hover.png') 1x, url('../images/LinkedIn-Hover@2x.png') 2x);
}

.social .twitter {
    background-image: -webkit-image-set(url('../images/Twitter.png') 1x, url('../images/Twitter@2x.png') 2x);
    background-image: image-set(url('../images/Twitter.png') 1x, url('../images/Twitter@2x.png') 2x);
}

.social .twitter:hover {
    background-image: -webkit-image-set(url('../images/Twitter-Hover.png') 1x, url('../images/Twitter-Hover@2x.png') 2x);
    background-image: image-set(url('../images/Twitter-Hover.png') 1x, url('../images/Twitter-Hover@2x.png') 2x);
}

.social .github {
    background-image: -webkit-image-set(url('../images/Github.png') 1x, url('../images/Github@2x.png') 2x);
    background-image: image-set(url('../images/Github.png') 1x, url('../images/Github@2x.png') 2x);
}

.social .github:hover {
    background-image: -webkit-image-set(url('../images/Github-Hover.png') 1x, url('../images/Github-Hover@2x.png') 2x);
    background-image: image-set(url('../images/Github-Hover.png') 1x, url('../images/Github-Hover@2x.png') 2x);
}

.social {
    font-size: 0px;
}

.social li {
    display: inline-block;
    margin: 5px;
}

@media (max-width: 580px) {
    .banner {
        height: 220px;

        margin-top: -110px;
    }

    h1 {
        font-size: 300%;
    }

    h3 {
        font-size: 200%;
    }

    .boxed {
        width: 100%;
        padding: 0 1em;
    }

    .boxed li,
    .footer p,
    .boxed p {
        font-size: 180%;
    }

    .boxed img {
        width: 200px;
        height: 200px;
        margin-right: 4em;
        margin-bottom: 2em;
        -webkit-border-radius: 100px;
        border-radius: 100px;

        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    h1,
    h3,
    p {
        color: white;
    }

    .social .github {
        background-image: -webkit-image-set(url('../images/Github-Dark.png') 1x, url('../images/Github-Dark@2x.png') 2x);
        background-image: image-set(url('../images/Github-Dark.png') 1x, url('../images/Github-Dark@2x.png') 2x);
    }
}