
/*
 * COMMON
 */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: medium;
}

.nospacing {
    margin: 0 !important;
    padding: 0 !important;
}

/*
 * TITLES
 */

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 300%;
    font-weight: 400;

    display: block;
    padding: 3em 1em;
}

/*
 * FOOTER
 */

.footer {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}

.footer p {
    font-size: 200%;
}

.footer p span {
    position: relative;
    top: 0.1em;
}

/*
 * SOCIAL LINKS
 */

.social li {
    display: inline-block;
    margin: 0.5em;
}

.social a {
    display: inline-block;
    font-size: 200%;
    color: #E34D26;
}

.social a:hover {
    transform: scale(1.1, 1.1);
}

/*
 * DARK MODE
 */

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    h3,
    .footer p {
        color: white;
    }   
}

/*
 * BREAKPOINTS
 */

@media (max-width: 580px) {
    .footer p {
        font-size: 180%;
    }

    h3 {
        font-size: 200%;
    }
}