
/*
 * COMMON
 */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: medium;
}

.nospacing {
    margin: 0 !important;
    padding: 0 !important;
}

/*
 * TITLES
 */

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 300%;
    font-weight: 400;

    display: block;
    padding: 3em 1em;
}

/*
 * FOOTER
 */

.footer {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}

.footer p {
    font-size: 200%;
}

.footer p span {
    position: relative;
    top: 0.1em;
}

/*
 * SOCIAL LINKS
 */

.social {
    font-size: 0px;
}

.social li {
    display: inline-block;
    margin: 5px;
}

.social a {
    color: #E34D26;
    height: 36px;
    width: 36px;
    display:block;
}

.social .instagram {
    background-image: -webkit-image-set(url('../../images/Services/Instagram.png') 1x, url('../../images/Services/Instagram@2x.png') 2x);
    background-image: image-set(url('../../images/Services/Instagram.png') 1x, url('../../images/Services/Instagram@2x.png') 2x);
}

.social .instagram:hover {
    background-image: -webkit-image-set(url('../../images/Services/Instagram-Hover.png') 1x, url('../../images/Services/Instagram-Hover@2x.png') 2x);
    background-image: image-set(url('../../images/Services/Instagram-Hover.png') 1x, url('../../images/Services/Instagram-Hover@2x.png') 2x);
}

.social .linkedin {
    background-image: -webkit-image-set(url('../../images/Services/LinkedIn.png') 1x, url('../../images/Services/LinkedIn@2x.png') 2x);
    background-image: image-set(url('../../images/Services/LinkedIn.png') 1x, url('../../images/Services/LinkedIn@2x.png') 2x);
}

.social .linkedin:hover {
    background-image: -webkit-image-set(url('../../images/Services/LinkedIn-Hover.png') 1x, url('../../images/Services/LinkedIn-Hover@2x.png') 2x);
    background-image: image-set(url('../../images/Services/LinkedIn-Hover.png') 1x, url('../../images/Services/LinkedIn-Hover@2x.png') 2x);
}

.social .twitter {
    background-image: -webkit-image-set(url('../../images/Services/Twitter.png') 1x, url('../../images/Services/Twitter@2x.png') 2x);
    background-image: image-set(url('../../images/Services/Twitter.png') 1x, url('../../images/Services/Twitter@2x.png') 2x);
}

.social .twitter:hover {
    background-image: -webkit-image-set(url('../../images/Services/Twitter-Hover.png') 1x, url('../../images/Services/Twitter-Hover@2x.png') 2x);
    background-image: image-set(url('../../images/Services/Twitter-Hover.png') 1x, url('../../images/Services/Twitter-Hover@2x.png') 2x);
}

.social .github {
    background-image: -webkit-image-set(url('../../images/Services/Github.png') 1x, url('../../images/Services/Github@2x.png') 2x);
    background-image: image-set(url('../../images/Services/Github.png') 1x, url('../../images/Services/Github@2x.png') 2x);
}

.social .github:hover {
    background-image: -webkit-image-set(url('../../images/Services/Github-Hover.png') 1x, url('../../images/Services/Github-Hover@2x.png') 2x);
    background-image: image-set(url('../../images/Services/Github-Hover.png') 1x, url('../../images/Services/Github-Hover@2x.png') 2x);
}

/*
 * DARK MODE
 */

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    h3,
    .footer p {
        color: white;
    }

    .social .github {
        background-image: -webkit-image-set(url('../../images/Services/Github-Dark.png') 1x, url('../../images/Services/Github-Dark@2x.png') 2x);
        background-image: image-set(url('../../images/Services/Github-Dark.png') 1x, url('../../images/Services/Github-Dark@2x.png') 2x);
    }
}

/*
 * BREAKPOINTS
 */

@media (max-width: 580px) {
    .footer p {
        font-size: 180%;
    }

    h3 {
        font-size: 200%;
    }
}