.banner
  = image_tag @app.dashboard_image.url, class: 'fadeInDown animated rounded'
  %h1
    %span.title.fadeIn.animated= @app.name

.arrow.fadeInUp.animated= link_to '&nbsp;'.html_safe, ''

.content
  %h3 Some features
  .boxed= @app.rendered_text.html_safe

  .footer
    %p Created by Jelle Vandebeeck
