/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-datepicker3
 *= require ladda-themeless 
 *= require grid 
 *= require owl.carousel
 *= require owl.theme
 *= require owl.transitions
 *= require_self
 */

/*** FONTS ***/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       asset-url('glyphicons-halflings-regular.woff') format('woff'), 
       asset-url('glyphicons-halflings-regular.ttf') format('truetype'), 
       asset-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*** COMMON ***/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: medium;
}

/*** BANNER ***/

.banner {
  width: 100%;
  height: 320px;

  position: absolute;
  top: 45%; 

  margin-top: -160px;

  text-align: center;
}

.banner img {
  height: 200px;
  width: 200px;

  margin: 0 auto;
}

.banner .rounded {
  border-radius: 100px;
  -webkit-border-radius: 100px;

  margin-bottom: 2em;
}

h1 {
  font-size: 400%;
	font-weight: 300;
  text-align: center;
	text-transform: uppercase;

  margin: 0;
}

h1 .title {
  display: block;
}

h1 .subtitle {
  display: block;
	font-weight: 800;
  font-size: 50%;
}

/*** CONTENT ***/

.back a {
  position: absolute;
  top: .5em;
  left: 1em;
  font-size: 2em;
  color: #E34D26;
  background-color: white;
  width: 1.5em;
  text-align: center;
  z-index: 9000;
}

.back a:hover {
  text-decoration: none;
}

.content {
  width: 100%;

  position: absolute;
  top: 100%;
}

.grid figcaption h2,
.grid figcaption p {
  display: inline;
  background-color: #E54C18;
  padding: 4px;
}

.grid figure img {
  opacity: 1;
}

/*** BLOCK ***/

h3 {
	text-transform: uppercase;
  text-align: center;
  font-size: 250%;
	font-weight: 300;
  
  display: block;
  padding: 2em 1em;
}

.boxed {
  width: 50%;
  text-align: justify;

  margin: 0 auto;
} 

.boxed p {
  font-size: 150%;
	font-weight: 300;
  margin-bottom: 1.5em;
}

.boxed li {
  font-size: 150%;
	font-weight: 300;
}

.boxed img {
  width: 200px;
  height: 200px;
  margin-left: 2em;
  margin-bottom: 2em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  float: right;
}

.block {
  clear: both;
  display: block;
}

.block p {
  text-align: center;
}

#contact-form {
  width: 60%;
  margin: 0 auto 2em auto;
}

/*** FORM ***/

abbr {
  display: none;
}

label {
	text-transform: uppercase;
  font-size: 100%;
	font-weight: 400;
}

input, select {
  font-size: 150% !important;
  height: 1.7em !important;
}

textarea {
  font-size: 150% !important;
  height: 6em !important;
}

input[type=submit] {
  height: 2.1em !important;
}

.btn-primary, .btn-primary:hover {
	text-transform: uppercase;
  font-size: 150%;
	font-weight: 200;
  
  background-color: #E34D26;
  border-color: #E34D26;
  -webkit-border-color: #E34D26;
}

#app-carousel {
  text-align: center;
}

.owl-theme .owl-controls .owl-page span {
  background-color: #E34D26;
}

.owl-theme .owl-controls .owl-buttons div {
  background: #E34D26;
}

/*** FOOTER ***/

.footer p {
  text-transform: uppercase;
  font-size: 150%;
	font-weight: 300;
  margin-bottom: 2em;
  text-align: center;
  margin-top: 2em;
}

/*** RESPONSIVE ***/

@media (max-width: 580px) {
  .banner {
    height: 220px;

    margin-top: -110px;
  }
  .logo {
    height: 150px;
    width: 150px;
  }

  h1 {
    font-size: 300%;
  }

  h3 {
    font-size: 170%;
  }

  .boxed {
    width: 100%;
    padding: 0 1em;
  } 

  .boxed li,
  .footer p,
  .boxed p {
    font-size: 100%;
  }
  
  .boxed img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

@media (max-width: 680px) {
  #contact-form {
    width: 100%;
  }

  #app-carousel .item img{
      display: block;
      width: 100%;
      height: auto;
  }
}
