/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-datepicker3
 *= require_self
 */

/*** FONTS ***/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('glyphicons-halflings-regular.woff') format('woff'), 
       url('glyphicons-halflings-regular.ttf') format('truetype'), 
       url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*** MAIN STYLING ***/

body {
  padding: 20px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 20px 0;
}

/*** NAVIGATION ***/

.nav li a, .nav li a:focus {
  font-weight: bold;
  color: #3a3a3a;
}

.logo {
  height: 40px;
  padding-left: 10px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .content {
  text-align: left;
}

.dropdown-menu {
  text-align: left;
}

/* Main Style */

h1 {
  font-size: 3em !important;
}
